page-profile {

}

.container-photo{
    text-align: center;
}

.profile-photo {
    width: 100px;
    border-radius: 50px
}

.profile-name {
    font-size: 16px;
}

.todos {
    border-right-style: dotted;
    border-right-color: #636e72;
    text-align: center;
}

.dones {
    text-align: center;
}